<a href="https://colab.research.google.com/github/ashvin-a/Python-Bible/blob/main/Counter%2Cdefaultdict%2Cnamedtuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Counter
Used to count the number of occurences of a character in a list

In [ ]:
from collections import Counter

l = [1,1,1,1,22,2,2,23,3,3,3,3,5,5,5,5,544,4,4,4,44,67,7,7,7,7]

print(Counter(l))

Counter({1: 4, 3: 4, 5: 4, 7: 4, 4: 3, 2: 2, 22: 1, 23: 1, 544: 1, 44: 1, 67: 1})

#Default Dictionary
Assigns values to the keys in a dictionary that are not present.

In [ ]:
from collections import defaultdict

d = {}
d['k1']='val1'

{'k1': 'val1'}

In [ ]:
d = defaultdict(lambda:0)
d['not_inthis']#gives 0 as output

0

#Named Tuple

In [ ]:
from collections import namedtuple

Dog = namedtuple('Dog',['name','age','breed'])

In [ ]:
Dog

__main__.Dog

In [ ]:
d1 = Dog(name='Snoop',age='6',breed='Rott')
type(d1)

__main__.Dog

In [ ]:
d1.age
d1.name
d1[0]

'Snoop'